@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.vl {
  border-left: 0.5px solid grey;
  height: 1000px;
  position: absolute;
  left: 73%;
  margin-left: 5px;
  top: 64px;
}


.main_b {
  width: 70%;
}

.side_b {
  width: 30%;
  height: 200vh;
  max-height: 300vh !important;
}

.top_h {
  margin-top: 56px !important;
}


@media (max-width:749px) {
  .main_b {
    width: 100% !important;
  }

  .mbl_hidden {
    display: none !important;
    width: 0% !important;
  }

  .p-16 {
    padding: 5px !important;
  }
}

/* nav bar */
nav.nav_bar {
  top: 0;
  position: fixed;
  width: 100%;
}


.post_content h2 {
  font-size: 25px !important;
}